<h2>List of Scooters</h2> 
<div class="scooterList">
    {{#each scooter}}
        <div class="container">
            <ul class="list">
                <li>Brand Name: {{this.brandName}}</li>
                <li>Max. Speed: {{this.maxSpeed}} </li>
                <li>Max. Range: {{this.maxRange}} </li>
                <li>Model Year: {{this.modelYear}} </li>
                <li>Max.LoadCapacity: {{this.maxLoadCapacity}} </li>
                <li><img src="/images/{{this.image}}" alt="" width="200" height="300" ></li>
                <li><section>
                    <a href="/booking-request" class="btn-secondary">Book a Ride</a>
                </section></li>
            </ul>
          </div>
    {{/each}}
 </div>