<h1>List of Scooters</h1>
<div class="scooterList">
    {{#each scooter}}
    <div class="container-scooter">
        <ul class="list">
            <li><img src="/images/{{this.image}}" class="scooter-img" alt="" width="200" height="300"></li>
            <br>
            <li> Brand Name: {{this.brandName}}</li>
            <li>Max. Speed: {{this.maxSpeed}} </li>
            <li>Max. Range: {{this.maxRange}} </li>
            <li>Model Year: {{this.modelYear}} </li>
            <li>Max.Load Capacity: {{this.maxLoadCapacity}} </li>
            <div class="buttons">
                <a href="/scooters/{{_id }}/edit"><button class="edit-delete">Edit</button>
                </a>
                <form method="POST" action="/scooters/{{_id}}/delete"><button class="edit-delete">Delete
                    </button>
            </div>
            </form>
            </li>
        </ul>
    </div>
    {{/each}}
</div>