<h2>List of Scooters</h2> 

{{#each scooter}}
<div class="container">
    <ul >
        <article class="list"> 
        <li > Brand Name: {{this.brandName}}</li>
        <li>Max. Speed: {{this.maxSpeed}} </li>
        <li>Max. Range: {{this.maxRange}} </li>
        <li>Model Year: {{this.modelYear}} </li>
        <li>Max.LoadCapacity: {{this.maxLoadCapacity}} </li>
         <li>Picture: <img src="/images/{{this.image}}" alt="" width="200" height="300" ></li>
     </ul>
     <a href="/scooters/{{_id }}/edit">
    <button class="btn-secondary">Edit</button>
</a>
<form method="POST" action="/scooters/{{_id}}/delete"><buttonclass="btn-secondary">Delete</button></form>
</a></ul></article>

    {{/each}}